{{ define "main" }}

<style>
.cog-label {
    display: none !important; 
}
.el-input {
    border: 1px solid #013644;
    padding: 12px 12px 8px 12px;
    border-radius: 6px;
}
.el-textarea {
    border: 1px solid #013644;
    padding: 12px 12px 8px 12px;
    border-radius: 6px;
}
.el-button {
    background-color: #FFF8F5;
    border: 1px solid #013644;
    font-family: StyreneA-Regular;
    color: #013644;
    text-transform: uppercase;
    padding: 8px 12px 8px 12px;
    border-radius: 6px;
}

.el-button:hover {
    background-color: #FDD6C4;
}
</style>

<div class="flex flex-wrap w-full max-w-8xl mx-auto">

    <div class="xl:absolute bottom-0 right-0 w-5/6 md:w-7/12 xl:w-1/2 ml-auto z-min1 photo-carousel" data-flickity='{ "wrapAround": true, "contain": true, "fullscreen": true, "prevNextButtons": false, "pageDots": false, "autoPlay": true }'>
        {{ range where .Site.Pages "Type" "gallery" }}
        <img class="w-full" src="{{ .Site.Params.tracking.cloudinary_url }}{{ .Params.img }}">
        {{ end }}
    </div>

    <div class="absolute top-0 flex flex-wrap mx-auto pt-40 lg:pt-48">
        <div class="flex flex-wrap w-5/6 mx-auto">
            <div class="flex flex-wrap items-start w-full lg:w-7/12 max-w-8xl bg-white border border-color-FAE8DF p-12 z-40 shadow-xl">
                <h1 class='{{ partial "gCSS/type/heading.txt"}} text-5xl xxl:text-6xl pb-4'>{{ .Params.hero_section.title }}</h1>
                <p class='{{ partial "gCSS/type/paragraph.txt"}} text-lg xxl:text-xl pb-4'>{{ .Params.hero_section.paragraph_text | safeHTML }}</p>
                <script src="https://www.cognitoforms.com/f/seamless.js" data-key="IG83lPQs7UKU2FDeP--HlA" data-form="36"></script>
                <p class='w-full lg:hidden font-sty text-color-013644 leading-normal tracking-wide stext-xs mx-auto pt-8 uppercase'>&copy; {{ dateFormat "2006" now }} {{ .Site.Title }} | All Rights Reserved | MADE BY PIONEER</p>
            </div>
        </div>
    </div>
     <p class='hidden lg:block absolute bottom-0 font-sty text-color-013644 leading-normal tracking-wide w-auto text-xs mx-auto pb-5 pl-32 uppercase'>&copy; {{ dateFormat "2006" now }} {{ .Site.Title }} | All Rights Reserved | MADE BY PIONEER</p>
</div>

{{ end }}